<article>
  <h3><%= post.user.username %></h3>
  <p><%= post.body %></p>
  <time datetime="<%= post.published.strftime('%Y-%m-%dT%H:%M%z') %>">Posted on <%= post.published.strftime("%B %d, %Y at %I:%M%P \(%Z\)") %></time>
</article>
