<section class="col-md-8">
  <h2>Posts</h2>
  <div id="posts_feed">
    <%= render @posts %>
  </div>
</section>
<aside class="col-md-4">
  <%  if user_signed_in? %>
    <h2>Welcome, <%= current_user.username %>!</h2>
    <%= link_to "Create new post", new_post_path, id: "new_post_link", remote: true %>
  <% else %>
    <h2>Sign up for an account!</h2>
  <% end %>
</aside>
