<% if object.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <h3>¡Ouch, Zany Invalid Data!</h3>
    <p>Please fix the following errors:</p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
